params: <% params.inspect %>

<%= @category.name %>
<% @products.each do |product| %>
  <% if @category.products.include?(product) %>

    <div>
    <%= product.name %>
    <%= product.price %>
    <%= product.inventory %>
    <%= product.description %>
    </div>
    
  <% end %>
<% end %>