
  <!-- <h2>Orders to fulfill</h2> -->
  <h1>Paid orders</h1><hr>

  <div>
    <ol>

      <% @paid.each do |array|%>
        <% if array != [] %>
          <% array.each do |op| %>
            Product:<%= Product.find(op.product_id).name %><br>
            Quantity:<%= op.quantity %><br>
            <% info = Order.find(op.order_id).purchase_info %><br>
            Ship to: 
            <div class= "shipping_address">
              <%= info.first_name %>
              <%= info.first_name %>
              <%= info.last_name %><br>
              <%= info.address %>
              <%= info.address2 if info.address2%><br>
              <%= info.city %>
              <%= info.state %>
              <%= info.zip_code %>
            </div><br>
            <div class="cc_info">
              Payment info:<br>
              CC: <%= info.credit_card_number.to_s.slice(-4,4) %><br>
              CVV: <%= info.cvv %><br>
              Expiration: <%= info.expiration_date %>
            </div>
              <%= button_to "Ship!", ship_order_path(params[:id], op.id) %>
            <hr>
          <% end %>
        <% end %>
      <% end %>

      <%# @items.each do |op| %>
        <%# info_id) %>
        <%#= link_to info}", order_path(op.order_id) %> <!-- <br> -->
        <%#= info     <!--  <li> -->
          <%# if session[:user_id] == info          <!-- <strong>You can't buy your own products!</strong> <hr>< --><!-- Imperfect bug fix -->
          <%# else %> 
       <!--      Quantity: <%#= op.quantity %><br>
            Status:  --><%#=info         <%# if info %>
            <!-- <h4> Paid on: <%#=info.created_at.strftime('%b %d, %Y at %l:%M %P') %></h4> -->
              <%#= info.inspect %><!-- <br><br> -->
              <!-- <div class="address">
                <h3>Ship to:</h3>
                <%#= User.find(info %>
                <%#= info.first_name %>
                <%#= info.last_name %><br>
                <%#= info.address %>
                <%#= info.address2 if info.address2%><br>
                <%#= info.city %>
                <%#= info.state %>
                <%#= info.zip_code %>
                <%#= button_to "Ship!", ship_order_path(params[:id],params[:product_id]) %>
              </div><br> -->
             <!--  <div class="cc_info">
                Payment info:<br>
                CC: <%#= info.credit_card_number.to_s.slice(-4,4) %><br>
                CVV: <%#= info.cvv %><br>
                Expiration: <%#= info.expiration_date %>
              </div> -->
            <%# end %>  
          <!-- <hr>
          <%# end %>
        </li> -->
      <%# end %>
  <!--   </ol>
  </div> -->

  
