params: <%=params.inspect%>
  
<ol>
  <li> USER ID: <%=@user.id%> </li>
  <li> USER EMAIL: <%=@user.email%></li>
  <li> 
    PRODUCTS:
    <%@user.products.each do |product|%>
    <%=link_to "#{product.name}", product_path(product.id)%>
    <% end %>
  </li>
  <li>    
    <%= link_to "See current order", order_path(current_order.id)%>
  </li>
  <li>ORDER HISTORY
    <table>
      <thead>
        <tr>
          <th> Order </th>
          <th> Status </th>
          <th> Created on </th>
          <th> Last Updated </th>
        </tr>
      </thead>
      <tbody>
        <% @user.orders do |order|%>
         <tr> 
          <td><%= order %></td>
          <td><%= order.status %></td>
          <td><%= order.created_at %></td>
          <td><%= order.updated_at %></td> #maybe change order of table elements? if shipped, show completion date
         </tr>
        <% end %>
  
      </tbody>
    </table>
  </li>
</ol>

<%=link_to "List a new product", new_product_path %>


<!-- make sure current order is at the top, maybe retired are a different opacity? -->
