params: <%=params.inspect%>
  
<ol>
  <li> USER ID: <%=@user.id%> </li>
  <li> USER EMAIL: <%=@user.email%></li>
  <li> 
    PRODUCTS:
    <%@user.products.each do |product|%>
    <%=product%>
    <% end %>
  </li>
  <li>    
    ORDERS:
    CURRENT ORDER:
    <%= link_to "#{current_order}", order_path(current_order.id)%>
    <%@user.orders do |order|%>
    <%=order%>
    <% end %></li>
</ol>

<!-- make sure current order is at the top, maybe retired are a different opacity? -->