<%=flash.notice %>
<hr>
Order: <%= current_order.inspect %>
<hr>

<div class= "ordershow">
These are the products in your order:
<table>
  <thead>
    <tr>
      <th> Name     </th>
      <th> Quantity </th>
      <th> Price    </th>
      <th> Subtotal </th>
      <th> Remove   </th>
    </tr>
  </thead>
  <tbody> 
    <tr>
      <% @products.each do |product| %>
        <td><%= link_to "#{product.name.capitalize}", product_path(product) %></td>
        <td><%= OrderProduct.find_by(product_id: product.id, order_id: current_order.id).quantity %>
            <%= form_tag(update_quantity_path(current_order.id, product.id), method: "patch") do %>
            <%=  number_field_tag(:quantity, params[:quantity], min: 1, class: "number_field") %>
            <%=  submit_tag "Update!" %>
          <% end %>
        </td>
        <td> <%=number_to_currency(product.price) %></td>

        <td> <%= number_to_currency(product.price * OrderProduct.find_by(product_id: product.id, order_id: current_order.id).quantity)%></td>
        <td><%= button_to "Remove", remove_product_path(current_order.id, product.id), method: :delete %></td>
    </tr>
      <% end %>

      <% subtotals = @products.map do |product| %>
      <% product.price * OrderProduct.find_by(product_id: product.id, order_id: current_order.id).quantity%>
      <% end %>
     <tr>
      <td>TOTAL:</td>
      <td> 
         <% items = current_order.order_products.map {|x| x.quantity} %>
         <%= items.inject(:+) %>
      </td>
      <td></td>
      <td><%= number_to_currency(subtotals.reduce(:+))%></td>
      <td></td>
     </tr>
  </tbody>
</table>

<div>
  <!-- Maybe just go to checkout with a notice "You have no items in your cart? -->
  <% unless items.inject(:+) == nil %> 
    <%= link_to "Proceed to checkout", checkout_path %><br>
  <% end %>
  <%= link_to "Back to browsing", root_path %><br>
  <% if current_user %>
    <%= link_to "Back to profile", user_path(current_user.id) %>
  <% end %>
</div>

<!-- 
needs a "keep shopping link" -->