<div class= "ordershow">

Order: <%= current_order.inspect %>
<hr>

OrderProduct: <%= @orderproduct.inspect %>

These are the products in your order:
<table>
  <thead>
    <tr>
      <th> Name </th>
      <th> Quantity </th>
      <th> Remove </th>
    </tr>
  </thead>
  <tbody> 
    <tr>
      <% @products.each do |product| %>
        <td> <%= link_to "#{product.name.capitalize}", product_path(product) %></td>
        <td> <%= OrderProduct.find_by(product_id: product.id, order_id: current_order.id).quantity %></td>
        <td><%= button_to "delete", remove_product_path(current_order.id, product.id), method: :delete %></td>
    </tr>
      <% end %>
</table>

<div>
  <%= link_to "Proceed to checkout", checkout_path %></li>
</div>
<!-- 
needs a "keep shopping link" -->