<div class= "ordershow">

Params: <%= params.inspect %> <br>

Order: <%= current_order.inspect %>
<hr>

OrderProduct: <%= @orderproduct.inspect %>

These are the products in your order:

<ol>
<% @products.each do |product| %>
 <li> <%= link_to "#{product.name.upcase}", product_path(product) %></li>
      <%= button_to "delete", remove_product_path(current_order.id, product.id), method: :delete %>
<% end %> 
</ol>

</div>

