<%= form_for @product do |f| %>
  <% if @product.errors.any? %>
  <div class= "error_messages">
    <h2> Form is invalid </h2>
    <ul>
      <% for message in @product.errors.full_messages %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :price, "How much?" %>
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :photo, "Photo URL" %>
    <%= f.text_field :photo %>
  </div>
  <div class="field">
    <%= f.label(:retired) %>
    <%= f.check_box :retired %>
  </div>
  <div class="field">
    <%= f.label :inventory %>
    <%= f.number_field :inventory %>
  </div>

   <div class="image">
    <%= f.label :photo, "Upload an image of your product!" %>
    <%= f.file_field :photo %>
    <%= f.hidden_field :photo_cache %> <!-- what is this? -->
  </div>
 
  <div class= "actions"><%=f.submit %></div>
<% end %>