<div class="productlist">  
  <% @products.each do |product| %>
    <!-- guard against users viewing own products (Do we really want this?) -->
    <% if product.user_id != session[:user_id] %> 
      <ul class="individualproduct">
        <!-- guard against viewing retired products -->
        <% unless product[:status] == "retired" %>
          <li id="productname"><li><%= link_to "#{product.name.capitalize}", product_path(product.id) %></li>
          <li><% if product.photo.present? %>
              <%= image_tag(product.photo_url(:thumb))  %>
                <% else %>
              <%= image_tag("hellohippo.png") %>
                <% end %>
          </li>
          <li><%= number_to_currency(product.price) %></li>
          <li id="cartbutton">
            <!-- Add to cart button. Ensures that user cannot add product if none in stock -->
            <% if product.inventory == 0 %>
              <p> Out of stock </p>
            <% else %>
              <%= form_tag(add_product_path(current_order.id, product.id), method: "post") do %>
                <%=  number_field_tag(:quantity, 1, in: 1..product.inventory) %>
                <%=  submit_tag "Add to Cart" %>
              <% end %>
            <% end %>
          </li>
          <!-- end button -->
        <% end %> 
        <!-- ends retired clause -->
      </ul>
    <% end %>
    <!-- ends guard against users viewing own products (Do we really want this?) -->
  <% end %>
</div>

  


