<h1><%= @product.name.upcase %></h1>
<h1>Edit a product</h1>
<%= @product.photo %>
<!-- update to have underscores -->
<%= render 'edit_category_form' %>
<hr>
<%= render 'add_category_form' %>
<hr>
<%= render 'base_form' %>