params <%=params.inspect%>

<% @products.each do |product| %>
  <!-- < if product.retired == false %> -->
    <div>
    <%= product.name %>
    <!-- Placeholder for merchant name for product -->
    <%= product.price %>
    <%= product.inventory %>
    <%= product.description %>
    </div>

<% end %>
