params <%=params.inspect%>
<%= flash.notice %>
<hr>
<div>
  <% @products.each do |product| %>
   <%# unless product.retired %>
      <%= product.name %>
      <%= product.price %>
      <%= product.inventory %>
      <%= product.description %> 
    <%# end %>
  <% end %>
</div>