params <%=params.inspect%>

<% @products.each do |product| %>
 <% unless product.retired %>

    <div>
    <%= product.name %>
    <%= product.price %>
    <%= product.inventory %>
    <%= product.description %>
    </div>
<% end %>
