params <%=params.inspect%>

<% @products.each do |product| %>
    <div>
    <%= product.name %>
    <!-- Placeholder for merchant name for product -->
    <%= product.price %>
    <%= product.inventory %>
    <%= product.description %>
    </div>
<% end %>
