<div class= "productshow">
  <h1><%= @product.name.capitalize %></h2>
  <ul>
    <li>$<%= @product.price %></li> <!-- this isn't showing the two zeros! -->
    <li><%= @product.inventory%></li>
    <li><%= @product.description %></li>
    <li><%= form_tag(add_product_path(current_order.id, @product.id), method: "post") do %>
            <%=  number_field_tag(:quantity) %>
            <%=  submit_tag "Add to Cart" %>
          <% end %>
  </ul>
</div>


