<div class= "productshow">

<h1><%= flash.notice %></h1><br>
<%= @product.inspect %><hr>
 <h1><%= @product.name.capitalize %></h1>
  <div><%= image_tag(@product.photo_url, width: 200) if @product.photo%></div>
  <ul>
    <li>Price: <%= number_to_currency(@product.price) %></li> 
    <li>Description: <%= @product.description %></li>
    <li>Categories:
      <% unless @product.categories == [] %>
        <% @product.categories.each do |category|%>
           <%= link_to "#{category.name}", category_path(category.id) %>
        <% end %>
      <% else %>
        There are no categories associated with this product.
      <% end %>
    </li>
  </ul>

    <!--  starts reviews -->
    <h3>Reviews:</h3>
    <ul>
      <% if @product.reviews == [] %>
        <p>There are no reviews for this product.</p>
      <% else %>
        <% array = @product.reviews.map do |review| %>
          <%[review, review.rating] %>
        <% end %>
        <% @best_reviews = array.sort_by! { |x| x[1].reverse } %>
        <%= @best_reviews.first.rating %> <%= @best_review.first.description %>
        <%= @best_review.last.rating %> <%= @best_review.last.description %>
        <%= link_to "See all reviews", product_review_path(@product) %> 
      <% end %> 
    </ul>
      <% unless @product.user_id == session[:user_id] %>
        <%= link_to "Add a review!", new_product_review_path(@product) %><br>
      <% end %> 
    <hr>
    <!-- ends reviews -->

    <% unless session[:user_id] == nil %> 
      <!-- start what owner of product can see -->
      <% if @product.user_id == current_user.id %> 
        <%= button_to "Edit this product", edit_product_path(@product.id), method: :get %><br>
        <%= link_to "View all your products", user_path(current_user.id) %>
      <% end %> 
    <% end %> 
      <!-- ends what merchant can see -->
    <!-- makes sure product can't be purchased by owner of the product -->
    <% if @product.user_id != session[:user_id] %>
       <% if @product.inventory == 0 %>
         <p> Out of stock -- Check back soon!</p>
       <% else %>
        <%= form_tag(add_product_path(current_order.id, @product.id), method: "post") do %>
          <%= number_field_tag(:quantity, 1, in: 1..@product.inventory) %>
          <%= submit_tag "Add to Cart" %>
        <% end %>
      <% end %>
    <% end %> 
</div>

<hr>
<div class="go_back">
  <%= link_to "Back to browsing", root_path %>
</div>
