<div class= "productshow">

  <h1><%= @product.name.capitalize %></h1>

  <li>$<%= @product.price %></li> <!-- this isn't showing the two zeros! -->
  <li><%= @product.description %></li>
  <li>Categories:<% unless @product.categories == [] %>
    <% @product.categories.each do |category|%>
      <%= category.name %>
      <% end %>
    <% end %>
  </li> 

  <% if current_user %>
    <% if @product.user_id == current_user.id %>
    <ul> 
      <li><%= @product.inventory %></li>    
      <li><% if @product.retired %>
            <%= Retired %>
          <% end %></li>
      <li><%= button_to "Edit this product", edit_product_path(@product.id), method: :get %></li>
    </ul>  
   

    <% else %>
      <ul>
      <li>Reviews: <% unless @product.reviews == [] %>
        <% @product.reviews.each do |review| %>
          <%= review.title %>
          <%= review.description %>
        <% end %>
      <% end %></li>

    <% end %>  
  <% end %> 
</div>


<div class="add_to_cart_or_go_back">
  <%= form_tag(add_product_path(current_order.id, @product.id), method: "post") do %>
    <%=  number_field_tag(:quantity) %>
    <%=  submit_tag "Add to Cart" %>
  <% end %>
  <%= link_to "Back to browsing", products_path %>
</div>
