<div class= "productshow">

 <h1><%= @product.name.capitalize %></h1>

  <ul>
    <li>Price: <%= number_to_currency(@product.price) %></li> 
    <li>Description: <%= @product.description %></li>
    <li>Categories:
      <% unless @product.categories == [] %>
        <% @product.categories.each do |category|%>
           <%= link_to "#{category.name}", category_path(category.id) %>
        <% end %>
      <% else %>
        There are no categories associated with this product.
      <% end %>
    </li>

    <% if current_user %> 
    <!-- start what owner of product can see -->
      <% if @product.user_id == current_user.id %> 
        <li>Current Inventory: <%= @product.inventory %></li>   
        <% if @product[:status] == "retired" %>
          This product is retired.
        <% end %><br>
        <%= button_to "Edit this product", edit_product_path(@product.id), method: :get %><br>
        <%= link_to "View all your products", user_path(current_user.id) %>
      <% end %>
    <% end %> 
    <!-- Ends what owner of product can see -->

      <li>Reviews: <% unless @product.reviews == [] %>
        <% @product.reviews.each do |review| %>
          <%= review.title %>
          <%= review.description %>
        <% end %>
      <% end %></li>
      <li><%= form_tag(add_product_path(current_order.id, @product.id), method: "post") do %>
            <%=  number_field_tag(:quantity, 1, in: 1..@product.inventory) %>
            <%=  submit_tag "Add to Cart" %></li>
      <% end %>
    </ul>
      
  
</div>


<div class="go_back">
  <br><br>
  <%= link_to "Back to browsing", products_path %>
</div>
