<div class= "productshow">

<%= flash.notice %>
<%= @product.inspect %>
 <h1><%= @product.name.capitalize %></h1>

  <ul>
    <li>Price: <%= number_to_currency(@product.price) %></li> 
    <li>Description: <%= @product.description %></li>
    <li>Categories:
      <% unless @product.categories == [] %>
        <% @product.categories.each do |category|%>
           <%= link_to "#{category.name}", category_path(category.id) %>
        <% end %>
      <% else %>
        There are no categories associated with this product.
      <% end %>
    </li>
  </ul>

    <!-- this starts reviews -->
    <h3>Reviews:</h3>
    <ul>
      <% if @product.reviews == [] %>
        <p>There are no reviews for this product.</p>
      <% else %>
        <% @product.reviews.each do |review| %>
        <li><h4>Rating: <%= review.rating %></h4>
          <p><%= review.description %><p>
          <% if review.user_id == session[:user_id] %>
            <%= link_to "Delete review", review_path(review), method: :delete %>
            <%= link_to "Edit review", edit_review_path(review) %>
          <% end %>
        <% end %> 
        </li>
      <% end %> 
    </ul>
      <% unless @product.user_id == session[:user_id] %>
        <%= link_to "Add a review!", new_product_review_path(@product) %><br>
      <% end %> 

    <!-- ends reviews -->

    <% unless session[:user_id] == nil %> 
      <!-- start what owner of product can see -->
      <% if @product.user_id == current_user.id %> 
        <%= button_to "Edit this product", edit_product_path(@product.id), method: :get %><br>
        <%= link_to "View all your products", user_path(current_user.id) %>
      <% end %> 
    <% end %> 
      <!-- ends what merchant can see -->

    <!-- makes sure product can't be purchased by owner of the product -->
    <% if @product.user_id != session[:user_id] %>
      <%= form_tag(add_product_path(current_order.id, @product.id), method: "post") do %>
      <%= number_field_tag(:quantity, 1, in: 1..@product.inventory) %>
      <%= submit_tag "Add to Cart" %>
      <% end %>
    <% end %> 
</div>


<div class="go_back">
  <br><br>
  <%= link_to "Back to browsing", products_path %>
</div>
