<div class= "productshow">

<h1 id="productshowname"><%= @product.name.capitalize %></h1>
  <div id="productphoto"><%= image_tag(@product.photo_url(:showpage)) if @product.photo%></div>
    <h3>Price:</h3><li><%= number_to_currency(@product.price) %></li>
    <h3>Description:</h3>
    Product Description:
    <li> <%= @product.description %></li>
    Product Dimensions:
    <li><%= @product.weight %> oz in weight</li>
    <li><%= @product.height %> inches high</li>
    <li><%= @product.depth %> inches deep</li>
    <li><%= @product.length %> inches long</li>

    <h3>Categories:</h3>
    <ul>
      <% unless @product.categories == [] %>
        <% @product.categories.each do |category|%>
           <li><%= link_to "#{category.name}", category_path(category.id) %></li>
        <% end %>
      <% else %>
        <p>There are no categories associated with this product.</p>
      <% end %>
    </ul>

    <!-- makes sure product can't be purchased by owner of the product -->
    <% if @product.user_id != session[:user_id] %>
       <% if @product.inventory == 0 %>
         <p> Out of stock -- Check back soon!</p>
       <% else %>
        <%= form_tag(add_product_path(current_order.id, @product.id), method: "post") do %>
          <%= number_field_tag(:quantity, 1, in: 1..@product.inventory) %>
          <%= submit_tag "Add to Cart" %>
        <% end %>
      <% end %>
    <% end %> 
    <hr>  
  
    <!--  starts reviews -->
    <h3>Reviews:</h3>
    <% unless @product.user_id == session[:user_id] %>
        <%= link_to "Add a review!", new_product_review_path(@product) %><br>
      <% end %> 
    <hr>
    <ul>
      <% if @product.reviews == [] %>
        <p>There are no reviews for this product.</p>
      <% else %>
        <% array = @product.reviews.map do |review| %>
          <%[review, review.created_at] %>
        <% end %>
        <% @reviews = array.sort_by { |x| x[1]}.reverse.take(3) %>
        <% @reviews.each do |review| %>
          <li>
          <h4> Posted by 
            <% if review.first.user_id == nil %>
              Guest
            <% else %>
              <%= User.find(review.first.user_id).name %>
            <% end %>
              on <%= review[1].utc.getlocal.strftime('%b %d, %Y at %l:%M %P') %>
          </h4>
          <h4>Rating: <%= review.first.rating %></h4>
            <p><%= review.first.description %><p>
            <% if review.first.user_id == session[:user_id] && current_user %>
              <%= button_to "Edit review", edit_review_path(review.first), method: :get %>
              <%= button_to "Delete review", review_path(review.first), method: :delete %>
            <% end %>
          <hr>
          </li>
          <%= link_to "See all reviews", product_reviews_path(params[:id]) %> 
        <% end %> 
        <!-- ends iteration through reviews -->
      <% end %> 
      <!-- ends condition for whether there are any reviews -->
    </ul>
    <!-- ends reviews -->

    <% unless session[:user_id] == nil %> 
      <!-- start what owner of product can see -->
      <% if @product.user_id == current_user.id %> 
        <%= button_to "Edit this product", edit_product_path(@product.id), method: :get %><br>
        <%= link_to "View all your products", user_path(current_user.id) %>
      <% end %> 
      <!-- ends what merchant can see --> 
    <% end %> 
      
</div>

<hr>
<!-- I want to use this to get the users name! @users.where(id = @product.user_id).first.name -->
<div class="see_all_products_by_merchant">
  <%= link_to "View all products by #{@users.find_by(id: @product.user_id).name}", user_path(@product.user_id)  %>
</div>
<br>
<div class="go_back">
  <%= link_to "Back to browsing", root_path %>
</div>
