<h1>Write a Review for <%= link_to "#{@product.name.upcase}", product_path(@product) %> </h1>
  <%= form_for @review, url: product_reviews_path(params[:product_id]) do |f| %> 
  <% if @review.errors.any? %>
    <div class= "error_messages">
      <h2> Form is invalid </h2>
      <ul>
        <% for message in @review.errors.full_messages %>
          <li><%= message %></li>
          <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :rating %>
    <%= f.number_field :rating, in: 1..5 %> <!-- maybe make these stars?! -->
  </div>

  <div class="field">
  <%= f.label :description %>
  <%= f.text_field :description %>
  </div>

<div class= "actions"><%=f.submit %></div>

<% end %>