<!DOCTYPE html>
<html>
  <head>
    <title>Hippo</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  
  <h1 class="main_heading">Welcome to Hippo</h1>
  <body>

    <%= flash.notice %>

    <%= yield %>

  </body>
</html>

<div>
      <hr>
User: <%= current_user.inspect %> <br>
      <%= current_order.inspect %> <br>
      <hr>

</div>
  <div class='nav_bar'>
    <ul>
      <li id='search'>
        <%= form_tag("/search", method: "get") do %>
          <%= label_tag("Search") %>
          <%= text_field_tag(:product, params[:product]) %>
          <%= submit_tag("Search") %>
        <% end %> 
      </li>
      <li>
        <% if current_user %> 
        <%= link_to "Hi, #{current_user.name}", user_path(current_user.id) %>
          <alt= 'Username'>
        <li></a><a href="/sign-out"> Sign out</a> </li>
        <% else %> 
          Hi, Guest!
        <li><a href="/sign-in"> HipPop in!</a> </li>
        <% end %>
      </li>
      <li>
        <a href="/orders/<%=current_order.id%>">
          Items in cart: <%= current_order.order_products.count %> <alt= 'Items in Cart'>
        </a>
      </li>
    </ul>
  </div> 

    </body>
  <html>