<!DOCTYPE html>
<html>
  <head>
    <title>Hippo</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag %>
  </head>

    <div class="sidebar">
      <%= render 'categories/sidebar_index' %>
    </div>
  <body>

    <div class='nav_bar'> 
      <div class='search_bar'>
        <%= form_tag("/search", method: "get") do %>
          <%= text_field_tag(:search, params[:search]) %>
          <%= submit_tag("SEARCH!") %>
        <% end %> 
      </div>
    
      <div id="icon">
        <!-- <a href="/"><img src="/assets/hellohippo.png" title="Welcome to Hippo!", height="45" width="45"></a> -->
        <%= image_tag "hellohippo.png" %>
      </div>
      
      <div class='navbuttons'>
        <ul>
          <li>
            <% if current_user %> 
              <%= link_to "Hi, #{current_user.name}!", user_path(current_user.id) %>
                <alt= 'Username'>
              <li><%= link_to "Sign out", "/sign-out" %></li>
            <% else %> 
              Hi, Guest!
              <li><%= link_to "HipPop in!", "/sign-in" %></li>
              <li><%= link_to "Become a Hippo!", sign_up_path%></li>
            <% end %>
          <li><%= link_to "Items in cart: #{current_order.order_products.count }", order_path(current_order) %></li>
        </ul>
      </div>
    </div> 
    <div class='content'>
      <% if flash.notice %>
        <div id="notice">Hey there! <%=flash[:notice] %></div>
      <% end %>
      <%= yield %>
    </div>
  </body>


</html>