<!DOCTYPE html>
<html>
  <head>
    <title>Hippo</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  
  <h1 class="main_heading">Welcome to Hippo</h1>
  <body>

    <%= flash.notice %>

    <%= yield %>

  </body>
</html>

<div>
<%= current_user.inspect %>
  <% if current_user %> 
    You are shopping as <%= current_user.name %>!  <a href="/sign-out"> Sign out</a>
  <% else %> 
    <a href="/sign-in"> HipPop in!</a>
    <a href="/sign-up"> Become a hippo!</a>
  <% end %>
</div>
