<!DOCTYPE html>
<html>
  <head>
    <title>Hippo</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class='nav_bar'> 
      <div class='search_bar'>
        <%= form_tag("/search", method: "get") do %>
          <%= label_tag("Have something in mind?") %>
          <%= text_field_tag(:product, params[:product]) %>
          <%= submit_tag("SEARCH!") %>
        <% end %> 
      </div>
    
      <div id="icon">
        <a href="/"><img src="http://i.imgur.com/TsoZSGz.jpg" title="Welcome to Hippo!", height="45" width="45"></a>
      
      <div class='navbuttons'>
        <ul>
          <li>
            <% if current_user %> 
              <%= link_to "Hi, #{current_user.name}!", user_path(current_user.id) %>
                <alt= 'Username'>
              <li></a><a href="/sign-out"> Sign out</a> </li>
            <% else %> 
              Hi, Guest!
              <li><a href="/sign-in"> HipPop in!</a> </li>
              <li><a href="/users/new">Become a Hippo!</a></li>
            <% end %>
          </li>
          <li>
            <a href="/orders/<%=current_order.id%>">
              Items in cart: <%= current_order.order_products.count %> <alt= 'Items in Cart'>
            </a>
          </li>
        </ul>
      </div>
    </div> 
</div>
  
     <div class='content'>
      <%= yield %>
    </div>
  </body>
</html>